<section class="dashboard-view container container-xlg">

  <div layout="row">
    <ng-include 
      flex
      src="'views/dashboard/quotations.html'"></ng-include>

    <ng-include 
      flex
      src="'views/dashboard/orders.html'"></ng-include>      

  </div>

  <!--
  <div layout="row">
    <ng-include 
      flex
      src="'views/dashboard/commissions.html'"></ng-include>   

    <ng-include 
      flex
      src="'views/dashboard/performance.html'"></ng-include>   
  </div>
  -->

</section>
