<section class="chart-section">
  <h2><i class="icon-login"></i> <strong>OPORTUNIDADES</strong></h2>
  <div class="chart-section-inner">

  <div layout="row">
    <div class="chart-section-col" flex="40">
      <h3>Cantidad</h3>
      <canvas
        id="pie-{{store.code}}"
        class="chart chart-pie"
        chart-options="store.quantities.options"
        chart-data="store.quantities.data"
        chart-labels="store.quantities.labels"
        chart-colors="store.quantities.colors"></canvas>
      <p><strong>Hoy</strong> | <strong>Total</strong></p>
      <p>{{ store.untilTodayQty }} | {{store.allByDateRangeQty}}</p>
    </div>

    <div class="chart-section-col chart-section-legends" flex="20">
      <p><span class="chart-section-sqr"></span> Hoy</p>
      <p><span class="chart-section-sqr chart-section-sqr2"></span> Total</p>
    </div>

    <div class="chart-section-col" flex="40">
      <h3>Monto</h3>
      <canvas
        id="pie-{{store.code}}"
        class="chart chart-pie"
        chart-options="store.ammounts.options"
        chart-data="store.ammounts.data"
        chart-labels="store.ammounts.labels"
        chart-colors="store.ammounts.colors"></canvas>
      <p><strong>Hoy</strong> | <strong>Total</strong></p>
      <p>{{store.untilTodayAmount | currency}} | {{store.allByDateRangeAmount | currency}}</p>
    </div>
  </div>

  </div>
</section>